/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End reset */
/* LL Edits*/
body, input, textarea, button {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

input, textarea, button {
  -webkit-appearance: none;
  border-radius: 0;
  font-family: inherit; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1; }

::-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 1; }

::placeholder {
  color: inherit;
  opacity: 1; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

details, summary {
  outline: none; }

details summary::-webkit-details-marker {
  display: none; }

/* End LL Edits */
@font-face {
  font-family: "Founders Grotesk Light";
  src: url("../fonts/Founders Grotesk Light.eot");
  src: url("../fonts/Founders Grotesk Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Founders Grotesk Light.woff2") format("woff2"), url("../fonts/Founders Grotesk Light.woff") format("woff"), url("../fonts/Founders Grotesk Light.svg#FoundersGrotesk-Light") format("svg");
  font-stretch: normal;
  font-style: normal;
  unicode-range: U+0020-FB04; }

@font-face {
  font-family: "Founders Grotesk Regular";
  src: url("../fonts/Founders Grotesk Regular.eot");
  src: url("../fonts/Founders Grotesk Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Founders Grotesk Regular.woff2") format("woff2"), url("../fonts/Founders Grotesk Regular.woff") format("woff"), url("../fonts/Founders Grotesk Regular.svg#FoundersGrotesk-Regular") format("svg");
  font-stretch: normal;
  font-style: normal;
  unicode-range: U+0020-FB04; }

@font-face {
  font-family: "Founders Grotesk Semibold";
  src: url("../fonts/Founders Grotesk Semibold.eot");
  src: url("../fonts/Founders Grotesk Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Founders Grotesk Semibold.woff2") format("woff2"), url("../fonts/Founders Grotesk Semibold.woff") format("woff"), url("../fonts/Founders Grotesk Semibold.svg#FoundersGrotesk-Semibold") format("svg");
  font-stretch: normal;
  font-style: normal;
  unicode-range: U+0020-FB04; }

@font-face {
  font-family: "Founders Grotesk Text Light";
  src: url("../fonts/Founders Grotesk Text Light.eot");
  src: url("../fonts/Founders Grotesk Text Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Founders Grotesk Text Light.woff2") format("woff2"), url("../fonts/Founders Grotesk Text Light.woff") format("woff"), url("../fonts/Founders Grotesk Text Light.svg#FoundersGroteskText-Light") format("svg");
  font-stretch: normal;
  font-style: normal;
  unicode-range: U+0020-FB04; }

.Header {
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  -webkit-transition: opacity 0.2125s linear, visibility 0s linear 0.2125s;
  transition: opacity 0.2125s linear, visibility 0s linear 0.2125s;
  right: 0;
  visibility: hidden;
  z-index: 10; }
  body.is-loaded:not(.is-showingIntro) .Header.is-visible {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    opacity: 1;
    visibility: visible; }
  @media (max-width: 740px) {
    .Header {
      opacity: 1;
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
      visibility: visible; } }

.Header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  max-width: 800px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 740px) {
    .Header-menu {
      background-color: black;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      left: 0;
      opacity: 0;
      position: fixed;
      text-align: center;
      top: 0;
      -webkit-transition: opacity 0.425s linear, visibility 0s linear 0.425s;
      transition: opacity 0.425s linear, visibility 0s linear 0.425s;
      visibility: hidden; }
      body.is-showingNavMenu .Header-menu {
        opacity: 1;
        visibility: visible;
        -webkit-transition-delay: 0s;
                transition-delay: 0s; } }

.Header-menuItem {
  opacity: 0.6;
  -webkit-transition: opacity 0.2125s linear;
  transition: opacity 0.2125s linear; }
  .Header-menuItem:hover {
    opacity: 1;
    text-decoration: none; }
  @media (max-width: 740px) {
    .Header-menuItem {
      padding: 0.5em 0; } }

.Header-menuToggler {
  display: none;
  height: 1.5rem;
  position: fixed;
  right: 1em;
  top: 1em;
  width: 1.5rem;
  z-index: 20; }
  @media (max-width: 740px) {
    .Header-menuToggler {
      display: block; } }

.Header-menuTogglerLine {
  background-color: white;
  box-shadow: 0 1px 0 rgba(26, 26, 26, 0.6);
  height: 2px;
  left: 0;
  position: absolute;
  -webkit-transition: opacity 0.425s cubic-bezier(0.7, 0, 0.3, 1), top 0.425s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.425s cubic-bezier(0.7, 0, 0.3, 1);
  transition: opacity 0.425s cubic-bezier(0.7, 0, 0.3, 1), top 0.425s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.425s cubic-bezier(0.7, 0, 0.3, 1);
  transition: opacity 0.425s cubic-bezier(0.7, 0, 0.3, 1), transform 0.425s cubic-bezier(0.7, 0, 0.3, 1), top 0.425s cubic-bezier(0.7, 0, 0.3, 1);
  transition: opacity 0.425s cubic-bezier(0.7, 0, 0.3, 1), transform 0.425s cubic-bezier(0.7, 0, 0.3, 1), top 0.425s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.425s cubic-bezier(0.7, 0, 0.3, 1);
  width: 100%; }

.Header-menuTogglerLine--top {
  top: 0; }
  body.is-showingNavMenu .Header-menuTogglerLine--top {
    top: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

.Header-menuTogglerLine--middle {
  top: calc(50% - 1px); }
  body.is-showingNavMenu .Header-menuTogglerLine--middle {
    opacity: 0; }

.Header-menuTogglerLine--bottom {
  top: calc(100% - 2px); }
  body.is-showingNavMenu .Header-menuTogglerLine--bottom {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.Section {
  background-color: black;
  overflow: hidden;
  position: relative; }

.Section--fixed {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: opacity 0.425s linear;
  transition: opacity 0.425s linear;
  z-index: 1; }
  .Section--fixed.is-belowFirstSection {
    height: 100vh; }
  .Section--fixed.is-stickyPositioned {
    position: absolute; }
  body.is-loaded .Section--fixed {
    opacity: 1; }

.Section--withSubsection {
  z-index: 2; }
  @media (max-width: 959px) {
    .Section--withSubsection {
      min-height: 90vh; } }
  .Section--withSubsection:before {
    content: "";
    display: block;
    padding-top: 40%; }

.Section--explanation {
  color: #ededed;
  z-index: 2; }

.Section--first {
  height: 100vh; }

.Section--fixed,
.Section--last {
  height: calc(56.25vw + 16em); }

.Section-background {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  width: 100%;
  z-index: 2; }
  .Section-background.is-animatable {
    -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.7, 0, 0.3, 1);
    transition: -webkit-transform 0.85s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.85s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.85s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.85s cubic-bezier(0.7, 0, 0.3, 1); }

@-webkit-keyframes Section-backgroundImg--no2 {
  100% {
    -webkit-transform: translate(-15%, -5%);
            transform: translate(-15%, -5%); } }

@keyframes Section-backgroundImg--no2 {
  100% {
    -webkit-transform: translate(-15%, -5%);
            transform: translate(-15%, -5%); } }

@-webkit-keyframes Section-backgroundImg--no3 {
  100% {
    -webkit-transform: translateX(-16%);
            transform: translateX(-16%); } }

@keyframes Section-backgroundImg--no3 {
  100% {
    -webkit-transform: translateX(-16%);
            transform: translateX(-16%); } }

@-webkit-keyframes Section-backgroundImg--no4 {
  100% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); } }

@keyframes Section-backgroundImg--no4 {
  100% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); } }

@-webkit-keyframes Section-backgroundImg--no5 {
  100% {
    -webkit-transform: translate(-12%, -2%);
            transform: translate(-12%, -2%); } }

@keyframes Section-backgroundImg--no5 {
  100% {
    -webkit-transform: translate(-12%, -2%);
            transform: translate(-12%, -2%); } }

@-webkit-keyframes Section-backgroundImg--no6 {
  100% {
    -webkit-transform: translate(-18%, -10%);
            transform: translate(-18%, -10%); } }

@keyframes Section-backgroundImg--no6 {
  100% {
    -webkit-transform: translate(-18%, -10%);
            transform: translate(-18%, -10%); } }

.Section-backgroundImg {
  display: block;
  height: 105%;
  top: 0;
  position: absolute;
  width: auto; }
  html.autoplayvideo .Section-backgroundImg {
    display: none; }
  .Section:nth-child(2) .Section-backgroundImg {
    left: -35%; }
  .Section:nth-child(2).is-inViewport .Section-backgroundImg {
    -webkit-animation: 13s ease-in-out infinite alternate Section-backgroundImg--no2;
            animation: 13s ease-in-out infinite alternate Section-backgroundImg--no2; }
  .Section:nth-child(3) .Section-backgroundImg {
    left: auto; }
  .Section:nth-child(3).is-inViewport .Section-backgroundImg {
    -webkit-animation: 13s ease-in-out infinite alternate Section-backgroundImg--no3;
            animation: 13s ease-in-out infinite alternate Section-backgroundImg--no3; }
  .Section:nth-child(4) .Section-backgroundImg {
    left: -95%; }
  .Section:nth-child(4).is-inViewport .Section-backgroundImg {
    -webkit-animation: 13s ease-in-out infinite alternate Section-backgroundImg--no4;
            animation: 13s ease-in-out infinite alternate Section-backgroundImg--no4; }
  .Section:nth-child(5) .Section-backgroundImg {
    left: -85%; }
  .Section:nth-child(5).is-inViewport .Section-backgroundImg {
    -webkit-animation: 13s ease-in-out infinite alternate Section-backgroundImg--no5;
            animation: 13s ease-in-out infinite alternate Section-backgroundImg--no5; }
  .Section:nth-child(6) .Section-backgroundImg {
    left: -80%; }
  .Section:nth-child(6).is-inViewport .Section-backgroundImg {
    -webkit-animation: 13s ease-in-out infinite alternate Section-backgroundImg--no6;
            animation: 13s ease-in-out infinite alternate Section-backgroundImg--no6; }

.Section--fixed:not(.is-belowFirstSection) .Section-backgroundImg--last {
  display: block;
  height: auto !important;
  margin: auto;
  position: static;
  width: 100%; }
  @media (max-width: 479px) {
    .Section--fixed:not(.is-belowFirstSection) .Section-backgroundImg--last {
      margin-left: -40%;
      margin-right: -40%;
      width: 180%; } }

.Section-background--last {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.Section-backgroundVideo {
  display: block; }
  html.no-autoplayvideo .Section-backgroundVideo {
    display: none; }
  html.no-objectfit .Section-backgroundVideo {
    height: auto;
    width: 100%; }
  html.objectfit .Section-backgroundVideo {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%; }

@media (orientation: portrait) {
  html.objectfit .Section-backgroundVideo--last {
    height: 85%; } }

html.no-autoplayvideo .Section-backgroundVideo--last {
  display: block; }

.Section--fixed:not(.is-belowFirstSection) .Section-backgroundVideo--last {
  display: none; }

.Section-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }
  .Section.is-showingSubsection .Section-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.Section-content {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }
  .Section.is-showingSubsection .Section-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative; }

.Section-content--fixed {
  display: block; }

.Section-headingWrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding: 0 1em;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 3; }
  @media (min-width: 480px) {
    .Section-headingWrapper {
      padding-left: 2em;
      padding-right: 2em; } }
  .Section.is-showingSubsection .Section-headingWrapper {
    margin-bottom: 0;
    padding-bottom: 2em; }

.Section-headingWrapper--fixed {
  margin-top: 19vh; }
  @media (min-width: 640px) {
    .Section-headingWrapper--fixed {
      margin-top: 28vh; } }

.Section-heading {
  font-family: "Founders Grotesk Text Light", "Arial", sans-serif;
  font-size: 1.25em;
  letter-spacing: 0.2em;
  line-height: 1;
  text-transform: uppercase;
  z-index: 2;
  width: 100%; }
  @media (min-width: 480px) {
    .Section-heading {
      font-size: 2em; } }
  .Section-heading.is-animatable {
    -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.7, 0, 0.3, 1);
    transition: -webkit-transform 0.85s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.85s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.85s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.85s cubic-bezier(0.7, 0, 0.3, 1); }

.Section-heading--withSubsection {
  letter-spacing: 0.3em;
  margin-bottom: 1rem;
  text-shadow: 0 1px 0 rgba(26, 26, 26, 0.6);
  -webkit-transition: letter-spacing 1.275s cubic-bezier(0.7, 0, 0.3, 1), opacity 1.275s cubic-bezier(0.7, 0, 0.3, 1);
  transition: letter-spacing 1.275s cubic-bezier(0.7, 0, 0.3, 1), opacity 1.275s cubic-bezier(0.7, 0, 0.3, 1); }
  @media (max-width: 479px) {
    .Section.is-showingSubsection .Section-heading--withSubsection {
      margin-bottom: 0; } }
  @media (max-width: 959px) {
    .Section-heading--withSubsection {
      line-height: 1.25; } }
  @media (min-width: 960px) {
    .Section-heading--withSubsection {
      white-space: nowrap; }
      .Section-headingWrapper:not(.is-inViewport) .Section-heading--withSubsection {
        letter-spacing: 0.125em;
        opacity: 0; } }

.Section-heading--big {
  font-size: 2em;
  letter-spacing: 0.3em;
  -webkit-transition: letter-spacing 1.275s cubic-bezier(0.7, 0, 0.3, 1), opacity 1.275s cubic-bezier(0.7, 0, 0.3, 1);
  transition: letter-spacing 1.275s cubic-bezier(0.7, 0, 0.3, 1), opacity 1.275s cubic-bezier(0.7, 0, 0.3, 1); }
  @media (min-width: 380px) {
    body:not(.is-loaded) .Section-heading--big {
      letter-spacing: 0.1em;
      opacity: 0; } }
  @media (min-width: 640px) {
    .Section-heading--big {
      font-size: 3.25em; } }
  .Section--fixed:not(.is-belowFirstSection) .Section-heading--big {
    display: none; }

@-webkit-keyframes Section-subheading-fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes Section-subheading-fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.Section-subheading {
  left: 1em;
  position: absolute;
  right: 1em;
  text-align: center;
  top: 100%; }
  @media (min-width: 480px) {
    .Section-subheading {
      left: 2em;
      right: 2em; } }

.Section-subheading--withSubsection {
  color: #00a8e6;
  font-size: 0.85em;
  margin-top: 1rem;
  opacity: 0;
  -webkit-transition: color 0.2125s linear;
  transition: color 0.2125s linear; }
  html.no-touchevents .Section-toggleSubsectionButton:hover + .Section-subheading--withSubsection {
    color: white; }
  .Section-subheading--withSubsection.is-animatable {
    -webkit-transition: opacity 0.85s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.85s cubic-bezier(0.7, 0, 0.3, 1);
    transition: opacity 0.85s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.85s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.85s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.85s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.85s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.85s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.85s cubic-bezier(0.7, 0, 0.3, 1); }
  .Section-headingWrapper.is-inViewport .Section-subheading--withSubsection {
    -webkit-animation: 1.275s cubic-bezier(0.7, 0, 0.3, 1) Section-subheading-fadein;
            animation: 1.275s cubic-bezier(0.7, 0, 0.3, 1) Section-subheading-fadein;
    opacity: 1; }
  .Section.is-showingSubsection .Section-subheading--withSubsection {
    -webkit-animation: none;
            animation: none;
    opacity: 0;
    pointer-events: none; }

.Section-subheading--big {
  font-size: 1.25em;
  line-height: 1.25;
  margin-top: 2rem;
  opacity: 0; }
  .Section--fixed.is-showingSubheading .Section-subheading--big {
    opacity: 1;
    -webkit-transition: opacity 0.425s linear;
    transition: opacity 0.425s linear; }
  .Section--fixed:not(.is-belowFirstSection) .Section-subheading--big {
    display: none; }
  @media (min-width: 480px) {
    .Section-subheading--big {
      font-size: 1.9em;
      margin-top: 2.5rem; } }

.Section-body {
  margin: 0 auto;
  max-width: 45rem;
  padding-bottom: 8rem;
  padding-left: 1rem;
  padding-right: 1rem; }
  @media (min-width: 480px) {
    .Section-body {
      padding-left: 2rem;
      padding-right: 2rem; } }
  @media (min-width: 640px) {
    .Section-body {
      font-size: 1.25em; } }
  .Section-body p {
    margin-bottom: 1em; }
    .Section-body p:last-child {
      margin-bottom: 0; }
  .Section-body em {
    font-family: "Founders Grotesk Semibold", "Arial", sans-serif; }

.Section-bodyHeading {
  font-family: "Founders Grotesk Semibold", "Arial", sans-serif;
  font-size: 5em;
  line-height: normal; }

.Section-bodyHeading--last {
  margin-bottom: 2rem; }

.Section-centerAlign {
  text-align: center; }

.Section-signupLink {
  background-color: #00a8e6;
  border-radius: 1.5em;
  display: inline-block;
  font-family: "Founders Grotesk Semibold", "Arial", sans-serif;
  font-size: 1.1em;
  margin-top: 2rem;
  padding: 0.25em 1em; }
  .Section-signupLink > span {
    display: block;
    position: relative; }
    .Section-signupLink > span:after {
      background-color: white;
      bottom: 0.2em;
      content: "";
      height: 2px;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      -webkit-transition: opacity 0.10625s linear;
      transition: opacity 0.10625s linear; }
  .Section-signupLink:hover {
    text-decoration: none; }
    .Section-signupLink:hover > span:after {
      opacity: 1; }

@-webkit-keyframes Section-scrollPrompt-startAnimation {
  0%, 50% {
    opacity: 0;
    -webkit-transform: translateY(8em);
            transform: translateY(8em); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes Section-scrollPrompt-startAnimation {
  0%, 50% {
    opacity: 0;
    -webkit-transform: translateY(8em);
            transform: translateY(8em); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.Section-scrollPrompt {
  bottom: 2em;
  height: auto;
  left: 50%;
  margin-left: -2em;
  position: absolute;
  width: 4em;
  z-index: 2; }
  body.is-loaded .Section-scrollPrompt {
    -webkit-animation: 1.7s cubic-bezier(0.7, 0, 0.3, 1) Section-scrollPrompt-startAnimation;
            animation: 1.7s cubic-bezier(0.7, 0, 0.3, 1) Section-scrollPrompt-startAnimation; }
  .Section-scrollPrompt.is-hidden {
    display: none; }

.Section-scrollPromptStroke {
  fill: none;
  stroke: #00a8e6; }

.Section-toggleSubsectionButton,
.Section-playButton {
  background-color: #00a8e6;
  border-radius: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2em;
  outline: none;
  padding: 0.25em;
  z-index: 2; }

.Section-toggleSubsectionButton {
  height: 2em;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  width: 2em; }
  .Section-toggleSubsectionButton.is-animatable {
    -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.7, 0, 0.3, 1);
    transition: -webkit-transform 0.85s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.85s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.85s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.85s cubic-bezier(0.7, 0, 0.3, 1); }
  .Section.is-showingSubsection .Section-toggleSubsectionButton {
    bottom: -1em;
    left: 50%;
    margin-left: -1em;
    position: absolute;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.Section-toggleSubsectionIcon {
  margin: auto;
  overflow: visible;
  width: 75%; }

.Section-toggleSubsectionText {
  display: none; }

.Section-toggleSubsectionPath {
  stroke: #00384d;
  -webkit-transition: stroke 0.2125s linear;
  transition: stroke 0.2125s linear; }
  html.no-touchevents .Section-toggleSubsectionButton:hover .Section-toggleSubsectionPath {
    stroke: #cceefa; }

.Section-playButton {
  margin-left: -2em;
  margin-top: -1em;
  height: 4em;
  width: 4em; }
  html.autoplayvideo .Section-playButton,
  .Section--fixed.is-belowFirstSection .Section-playButton,
  .Section--fixed.is-playingVideo .Section-playButton {
    display: none; }

.Section-playButtonIcon {
  margin: auto;
  overflow: visible;
  width: 65%; }

.Section-playButtonIconPath {
  fill: #00384d; }

.Subsection {
  bottom: 0;
  color: #ededed;
  left: 0;
  padding: 2em 1em;
  position: absolute;
  -webkit-transition: -webkit-transform 0.425s cubic-bezier(0.7, 0, 0.3, 1);
  transition: -webkit-transform 0.425s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.425s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.425s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.425s cubic-bezier(0.7, 0, 0.3, 1);
  width: 100%; }
  @media (min-width: 480px) {
    .Subsection {
      padding: 4em 2em; } }
  .Section.is-showingSubsection .Subsection {
    position: static; }

.Subsection-toggleButton {
  background-color: #00a8e6;
  height: 2em;
  left: 50%;
  margin-left: -1em;
  margin-top: -1em;
  position: absolute;
  top: 0; }

.Subsection-body {
  max-width: 37.125rem;
  margin: 0 auto;
  text-align: center;
  width: 100%; }
  @media (min-width: 640px) {
    .Subsection-body {
      font-size: 1.25em; } }
  .Subsection-body a {
    text-decoration: underline; }

.Gallery {
  background-color: #121212;
  background-image: url("../img/pattern.png");
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto 1em;
  padding-bottom: 9em;
  padding-right: 1em;
  padding-top: 8em;
  position: relative;
  z-index: 3; }
  @media (min-width: 960px) {
    .Gallery {
      padding-right: 2em; } }

.Gallery-masonry:after {
  clear: both;
  display: table;
  content: ""; }

.Gallery-imgWrapper {
  display: block;
  float: left;
  padding-left: 1em;
  padding-bottom: 1em;
  position: relative;
  width: 50%; }
  @media (min-width: 640px) {
    .Gallery-imgWrapper {
      width: 33.33333%; } }
  @media (min-width: 960px) {
    .Gallery-imgWrapper {
      padding-left: 2em;
      padding-bottom: 2em;
      width: 25%; } }
  .Gallery-imgWrapper:nth-child(0) .Gallery-img.is-inViewport {
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }
  .Gallery-imgWrapper:nth-child(1) .Gallery-img.is-inViewport {
    -webkit-transition-delay: 0.07083s;
            transition-delay: 0.07083s; }
  .Gallery-imgWrapper:nth-child(2) .Gallery-img.is-inViewport {
    -webkit-transition-delay: 0.14167s;
            transition-delay: 0.14167s; }
  .Gallery-imgWrapper:nth-child(3) .Gallery-img.is-inViewport {
    -webkit-transition-delay: 0.2125s;
            transition-delay: 0.2125s; }
  .Gallery-imgWrapper:nth-child(4) .Gallery-img.is-inViewport {
    -webkit-transition-delay: 0.28333s;
            transition-delay: 0.28333s; }
  .Gallery-imgWrapper:nth-child(5) .Gallery-img.is-inViewport {
    -webkit-transition-delay: 0.35417s;
            transition-delay: 0.35417s; }
  .Gallery-imgWrapper:nth-child(6) .Gallery-img.is-inViewport {
    -webkit-transition-delay: 0.425s;
            transition-delay: 0.425s; }
  .Gallery-imgWrapper:nth-child(7) .Gallery-img.is-inViewport {
    -webkit-transition-delay: 0.49583s;
            transition-delay: 0.49583s; }
  .Gallery-imgWrapper:nth-child(8) .Gallery-img.is-inViewport {
    -webkit-transition-delay: 0.56667s;
            transition-delay: 0.56667s; }
  .Gallery-imgWrapper:nth-child(9) .Gallery-img.is-inViewport {
    -webkit-transition-delay: 0.6375s;
            transition-delay: 0.6375s; }
  .Gallery-imgWrapper:nth-child(10) .Gallery-img.is-inViewport {
    -webkit-transition-delay: 0.70833s;
            transition-delay: 0.70833s; }
  .Gallery-imgWrapper:nth-child(11) .Gallery-img.is-inViewport {
    -webkit-transition-delay: 0.77917s;
            transition-delay: 0.77917s; }

.Gallery-img {
  display: block;
  height: auto;
  opacity: 0;
  -webkit-transform: translateY(2em);
      -ms-transform: translateY(2em);
          transform: translateY(2em);
  width: 100%; }
  .Gallery-img.is-inViewport {
    opacity: 1;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transition: opacity 0.425s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.425s cubic-bezier(0.7, 0, 0.3, 1);
    transition: opacity 0.425s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.425s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.425s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.425s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.425s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.425s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.425s cubic-bezier(0.7, 0, 0.3, 1); }

.Gallery-enlargeIconWrapper {
  background-color: #00a8e6;
  border-radius: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  left: 50%;
  line-height: 2em;
  margin-top: -2em;
  outline: none;
  opacity: 0;
  padding: 0.25em;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.2125s linear, visibility 0s linear 0.2125s;
  transition: opacity 0.2125s linear, visibility 0s linear 0.2125s;
  visibility: hidden;
  width: 2em;
  z-index: 2; }
  html.no-touchevents .Gallery-imgWrapper:hover .Gallery-enlargeIconWrapper {
    opacity: 1;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    visibility: visible; }

.Gallery-enlargeIcon {
  margin: auto;
  overflow: visible;
  width: 65%; }

.Gallery-enlargeIconPath {
  stroke: #00384d; }

.Gallery-logoContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1em;
  position: absolute;
  right: 1em; }
  @media (min-width: 480px) {
    .Gallery-logoContainer {
      right: 2em; } }

.Gallery-text {
  font-family: "Founders Grotesk Semibold", "Arial", sans-serif;
  margin-right: 1em; }
  @media (max-width: 479px) {
    .Gallery-text {
      line-height: 1.25; } }

.Gallery-logo {
  display: block;
  height: auto;
  width: 50%; }
  @media (min-width: 480px) {
    .Gallery-logo {
      width: 12em; } }

.BodyOverlay {
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10; }

.BodyOverlay-background {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity 0.425s cubic-bezier(0.7, 0, 0.3, 1);
  transition: opacity 0.425s cubic-bezier(0.7, 0, 0.3, 1); }
  .BodyOverlay.is-visible .BodyOverlay-background {
    opacity: 1; }

.BodyOverlay-imgWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: auto;
  padding: 2em;
  position: relative;
  z-index: 1; }

.BodyOverlay-img {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px); }
  .BodyOverlay-img.is-animatable {
    -webkit-transition: -webkit-transform 0.425s cubic-bezier(0.7, 0, 0.3, 1);
    transition: -webkit-transform 0.425s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.425s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.425s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.425s cubic-bezier(0.7, 0, 0.3, 1); }

@-webkit-keyframes BodyOverlay-img--fromLeft-animation {
  0% {
    -webkit-transform: translateX(-4em);
            transform: translateX(-4em); }
  100% {
    -webkit-transform: none;
            transform: none; } }

@keyframes BodyOverlay-img--fromLeft-animation {
  0% {
    -webkit-transform: translateX(-4em);
            transform: translateX(-4em); }
  100% {
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes BodyOverlay-img--fromRight-animation {
  0% {
    -webkit-transform: translateX(4em);
            transform: translateX(4em); }
  100% {
    -webkit-transform: none;
            transform: none; } }

@keyframes BodyOverlay-img--fromRight-animation {
  0% {
    -webkit-transform: translateX(4em);
            transform: translateX(4em); }
  100% {
    -webkit-transform: none;
            transform: none; } }

.BodyOverlay-img--fromLeft {
  -webkit-animation: 0.425s cubic-bezier(0, 0.35, 0.4, 1) BodyOverlay-img--fromLeft-animation;
          animation: 0.425s cubic-bezier(0, 0.35, 0.4, 1) BodyOverlay-img--fromLeft-animation; }

.BodyOverlay-img--fromRight {
  -webkit-animation: 0.425s cubic-bezier(0, 0.35, 0.4, 1) BodyOverlay-img--fromRight-animation;
          animation: 0.425s cubic-bezier(0, 0.35, 0.4, 1) BodyOverlay-img--fromRight-animation; }

.BodyOverlay-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
  margin-top: -2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.425s cubic-bezier(0.7, 0, 0.3, 1);
  transition: opacity 0.425s cubic-bezier(0.7, 0, 0.3, 1);
  width: 4em;
  z-index: 5; }
  .BodyOverlay.is-visible .BodyOverlay-arrow {
    opacity: 1; }

.BodyOverlay-arrow--left {
  left: 2em; }
  @media (max-width: 639px) {
    .BodyOverlay-arrow--left {
      left: 1em;
      font-size: 0.5em; } }

.BodyOverlay-arrow--right {
  right: 2em; }
  @media (max-width: 639px) {
    .BodyOverlay-arrow--right {
      right: 1em;
      font-size: 0.6em; } }

.BodyOverlay-arrowIcon {
  display: block;
  margin: auto;
  width: 65%; }

.BodyOverlay-arrowIconPath {
  fill: none;
  stroke: #00a8e6; }

* {
  box-sizing: border-box; }

html,
body {
  font-size: 16px; }

body {
  background-color: black;
  color: white;
  font-family: "Founders Grotesk Text Light", "Arial", sans-serif;
  line-height: 1.5; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

button,
input,
textarea,
select {
  color: inherit;
  font: inherit; }
  button::-webkit-input-placeholder,
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  select::-webkit-input-placeholder {
    opacity: 0.5; }
  button::-moz-placeholder,
  input::-moz-placeholder,
  textarea::-moz-placeholder,
  select::-moz-placeholder {
    opacity: 0.5; }
  button:-ms-input-placeholder,
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  select:-ms-input-placeholder {
    opacity: 0.5; }
  button::placeholder,
  input::placeholder,
  textarea::placeholder,
  select::placeholder {
    opacity: 0.5; }

p {
  margin-bottom: 1.5; }
  p:last-child {
    margin-bottom: 0; }

svg {
  display: block; }

path {
  stroke-linecap: butt;
  stroke-width: 2px; }
